.account-main {
    position: relative;
    width: 90%;
    height: 85vh;
    border: solid black 2px;
    left: 5%;
    margin-top: 1%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.Greeting {
    display: flex;
}

.user-account {
width: 90%;
height: 80%;
border: 1px solid black;
display: flex;
background: rgb(245, 240, 232);
}

.create-moneyCircle {
    width: 50%;
    border: 1px solid black;
    text-align: center;

}

.moneyCircles-list {
    width: 50%;
    border: 1px solid black;
    text-align: center;

}