.main {
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;

  }
  
  .login-box {
     width: 50vw; 
      height: 60vh;
      border: #2a68a9 solid 3px;
      border-radius: 10px;
      background: #fff;
  }
  .button_style {
    margin-left: 10px !important;
    margin-right: 10px; 
  }
  
  .centerTable {
    margin: 0px auto;
  }
  
  h2 {
      color: #2a68a9;
  }
  
  
  @media screen and (max-width: 600px) {
    .login-box {
      width: 60vw ;
    }
  }