.main {
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(#2a68a9 3px, transparent 4px),
    radial-gradient(#2a68a9 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(
      45deg,
      transparent 74px,
      transparent 75px,
      #28445b 75px,
      #28445b 76px,
      transparent 77px,
      transparent 109px
    ),
    linear-gradient(
      -45deg,
      transparent 75px,
      transparent 76px,
      #28445b 76px,
      #28445b 77px,
      transparent 78px,
      transparent 109px
    ),
    #fff;
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  }
  
  .register-box {
     width: 50vw; 
      height: 75vh;
      border: #2a68a9 solid 3px;
      border-radius: 10px;
      background: #fff;
  }
  .button_style {
    margin-left: 10px !important;
    margin-right: 10px; 
  }

.date-filed {
    width: 14em;
}
  
  .centerTable {
    margin: 0px auto;
  }
  
  h2 {
      color: #2a68a9;
  }

  .register-form{
      bottom: 10%;
      position: relative;
  }

  @media screen and (max-width: 600px) {
    .register-box {
      width: 60vw ;
    }
  }
  